@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.list{
    margin: 20px 0;
}

.green{
    background-color: rgba(52, 228, 52, 0.842) !important;
}

.task{
    position: relative;
    border-radius: 5px;
    transition: box-shadow 0.5s;
    background-color: #EEE;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid rgb(277, 277, 277);
    font-family: 'Varela Round', sans-serif;
}

.remove{
    background-color: red;
    color: white;
    font-size: 15px;
}
.edit{
    background-color: blue;
    color: white;
    font-size: 15px;
}
.save{
    background-color: rgb(54, 177, 54);
    color: white;
}


.buttons{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}

.taskc{
    font-weight: bold;
    user-select: none;
    word-wrap: break-word;
    width: 80%;
    font-size: 25px;
}

.rel{
    display: flex;
    align-items: center;
}

.edit-field{
    width: 80%;
    outline: none;
    font-weight: bold;
    font-size: 25px;
    background: none;
    resize: none;
    height: auto;
}
.edit-field:focus{
    outline: 2px solid black;
    border-radius: 4px;
}

.btn{
    transition: all .2s;
}
.btn:hover{
    transform: scale(90%);
    opacity: .8;
}

.task:hover{
    box-shadow: 5px 0 20px rgba(0, 0, 0, 0.2);
}

.empty{
    text-align: center;
    opacity: .5;
    font-family: 'Varela Round', sans-serif;
}

.empty-icon{
    font-size: 100px;
}

.cont{
    width: 40%;
    border: 1px solid rgba(0, 0, 0, 0.39);
    border-radius: 20px;
    margin-top: 100px;
    box-shadow: 0 0 15px black;
}
.f1{
    width: 70%;
    margin: 0 auto;
}


.wrong{
  padding: 10px;
  color: rgb(161, 4, 4);
  border: 1px solid rgb(161, 4, 4);
  border-radius: 10px;
}

.val{
  color: rgb(209, 25, 25);
  padding: 5px;
  margin-bottom: 10px;
  margin-top: -10px;
  font-size: 15px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid green;
}

.ng-invalid:not(form)  {
    border-left: 5px solid red;
}

.landing{
    text-align: center;
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    margin-top: 30px;
}
