<div *ngIf="!auth()" class="container cont">
    <div class="card">
            <h2 class="card-title text-center">Sign in to continue</h2>
            <hr>
            <form class="f1" #Form="ngForm" (ngSubmit)="submit()">
                <div class="form-group">
                    <input name="loginl" id="loginl" #login1="ngModel" [(ngModel)]="login" class="form-control" placeholder="Login" type="text" required autocomplete="off">
                </div>
                <div *ngIf="login1.invalid && (login1.dirty || login1.touched)">
                    <div *ngIf="login1.errors?.['required']" class="val">
                        <span class="glyphicon glyphicon-remove-sign"></span> Login is required
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" #password1="ngModel" name="passl" id="passl" [(ngModel)]="pass" placeholder="Password" type="password" required>
                </div>
                <div *ngIf="password1.invalid && (password1.dirty || password1.touched)">
                    <div *ngIf="password1.errors?.['required']" class="val">
                        <span class="glyphicon glyphicon-remove-sign"></span> Password is required
                    </div>
                </div>
                <div *ngIf="wrong" class="form-group bg-danger wrong">
                    Incorrect login or password
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block" [disabled]="!Form.form.valid"> Login  </button>
                </div>
            </form>
        </div>
</div>
<div *ngIf="auth()" class="logout-wrapper">
    <div class="bg-primary user-info">
        <span class="glyphicon glyphicon-user"></span>
        <span> {{user}} </span>
    </div>
    <button class="btn btn-danger logout" type="button" (click)="logout()"> Logout </button>
</div>