<div class="container">
        <a [routerLink]="['']" class="wrapper title">
                <span class="glyphicon glyphicon-check"></span>
                <h1 class="title">ToDo list</h1>
        </a>
        <div *ngIf="auth()" class="logout-wrapper">
                <div class="bg-primary user-info">
                        <span class="glyphicon glyphicon-user"></span>
                        <span> {{user}} </span>
                </div>
                <button class="btn btn-danger" type="button" (click)="logout()"> Logout </button>
        </div>

        <main [@routeAnimations]="prepareRoute(outlet)">
                <router-outlet #outlet="outlet"></router-outlet>
        </main>
</div>
